# Definition for the logserver instance type
heat_template_version: 2015-04-30

parameters:
  stackName:
    type: string
  flavor:
    description: Flavor of the logserver server
    type: string
  keyName:
    description: Name of an existing ssh keypair
    type: string
  publicNetworkId:
    type: string
  publicSubnetId:
    type: string
  imageId:
    type: string
  instanceName:
    type: string
  pndaSecurityGroupPnda:
    type: string
  logVolumeSize:
    type: number

resources:
  logserverPort:
    type: OS::Neutron::Port
    properties:
      network: { get_param: publicNetworkId }
      fixed_ips:
        - subnet_id: { get_param: publicSubnetId }
      security_groups: [{ get_param: pndaSecurityGroupPnda }]

  pndaVolumeLogData:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: logVolumeSize }
      description: Volume for logserver logs

  pndaVolumeAttachmentLogData:
    type: OS::Cinder::VolumeAttachment
    properties:
      volume_id: { get_resource: pndaVolumeLogData }
      instance_uuid: { get_resource: logserver }

  logserver:
    type: OS::Nova::Server
    properties:
      name: { get_param: instanceName }
      image: { get_param: imageId }
      flavor: { get_param: flavor}
      key_name: { get_param: keyName }
      metadata: {'node_type': 'logserver',
                 'pnda_cluster': {get_param: stackName},
                 'node_idx': "",
                 'Name': {get_param: instanceName }}
      networks:
        - port: { get_resource: logserverPort }

outputs:
  serverResource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: logserver}
