# Definition for the opentsdb instance type
heat_template_version: 2015-04-30

parameters:
  stack_name:
    type: string
  Flavor:
    description: Flavor of the opentsdb server
    type: string
  KeyName:
    description: Name of an existing ssh keypair
    type: string
  pnda_private_network:
    description: Private network for pnda deployment
    type: string
  pnda_private_subnet:
    description: Private network for pnda deployment
    type: string
  Image:
    type: string
  name:
    type: string
  NodeIndex:
    type: number
  pnda_security_group_pnda:
    type: string
  LogVolumeSize:
    type: number

resources:
  opentsdb_port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: pnda_private_network  }
      fixed_ips:
        - subnet_id: { get_param: pnda_private_subnet  }
      security_groups: [{ get_param: pnda_security_group_pnda }]

  logvolume_opentsdb:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: LogVolumeSize }
      description: Volume for opentsdb logs

  logvolume_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      volume_id: { get_resource: logvolume_opentsdb }
      instance_uuid: { get_resource: opentsdb_server }


  opentsdb_server:
    type: OS::Nova::Server
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      flavor: { get_param: Flavor }
      key_name: { get_param: KeyName }
      metadata: {'node_type': 'opentsdb',
                 'pnda_cluster': {get_param: stack_name},
                 'node_idx': {get_param: NodeIndex},
                 'Name': {get_param: name}}
      networks:
        - port: { get_resource: opentsdb_port }

outputs:
  port_resource:
    description: Heat resource handle for the Neutron port
    value:
      { get_resource: opentsdb_port }
  server_resource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: opentsdb_server}
  hosts_entry:
    description: >
      Server's IP address and hostname in the /etc/hosts format
    value:
      str_replace:
        template: |
          PRIMARYIP PRIMARYHOST
        params:
          PRIMARYIP: {get_attr: [opentsdb_server, first_address]}
          PRIMARYHOST: {get_attr: [opentsdb_server, name]}
