# Definition for the tools instance type
heat_template_version: 2015-04-30

parameters:
  stackName:
    type: string
  flavor:
    description: Flavor of the tools server
    type: string
  keyName:
    description: Name of an existing ssh keypair
    type: string
  publicNetworkId:
    type: string
  publicSubnetId:
    type: string
  imageId:
    type: string
  instanceName:
    type: string
  pndaSecurityGroupPnda:
    type: string

resources:
  toolsPort:
    type: OS::Neutron::Port
    properties:
      network: { get_param: publicNetworkId }
      fixed_ips:
        - subnet_id: { get_param: publicSubnetId }
      security_groups: [{ get_param: pndaSecurityGroupPnda }]

  toolsServer:
    type: OS::Nova::Server
    properties:
      name: { get_param: instanceName }
      image: { get_param: imageId }
      flavor: { get_param: flavor }
      key_name: { get_param: keyName }
      metadata: {'node_type': 'tools',
                 'pnda_cluster': {get_param: stackName},
                 'node_idx': "",
                 'Name': {get_param: instanceName }}
      networks:
        - port: { get_resource: toolsPort }

outputs:
  serverResource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: toolsServer}
  hostsEntry:
    description: >
      Server's IP address and hostname in the /etc/hosts format
    value:
      str_replace:
        template: |
          PRIMARYIP PRIMARYHOST
        params:
          PRIMARYIP: {get_attr: [toolsServer, first_address]}
          PRIMARYHOST: {get_attr: [toolsServer, name]}
