venv
*.idea
*.log
*.pem
*.pyc
*.run
hosts.txt
cli/ssh_config*
cli/socks_proxy*
pnda_env.yaml
pnda_env*.sh
*.tar.gz
.DS_Store
cli/logs/*cloud-formation-template*.json
cli/logs/*cloud-formation-parameters*.json
tf-*/
platform-certificates/*.*
platform-certificates/knox/*
!platform-certificates/knox/README.md
platform-certificates/haproxy/*
!platform-certificates/haproxy/README.md
terraform/scripts/*.pub
*.pub
