# Definition for the bastion instance type
heat_template_version: 2015-04-30

parameters:
  Flavor:
    description: Flavor of the bastion server
    type: string
  Image:
    type: string
  KeyName:
    description: Name of an existing ssh keypair
    type: string
  name:
    type: string
  pnda_private_network:
    description: Private network for pnda deployment
    type: string
  pnda_private_subnet:
    description: Private network for pnda deployment
    type: string
  public_net_id:
    description: Private network for pnda deployment
    type: string
  pnda_security_group_pnda:
    type: string
  stack_name:
    type: string

resources:
  bastion_port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: pnda_private_network }
      fixed_ips:
        - subnet_id: { get_param: pnda_private_subnet }
      security_groups: [{ get_param: pnda_security_group_pnda }]

  floatingIP:
    type: OS::Neutron::FloatingIP
    depends_on: [ bastion_port ]
    properties:
      floating_network_id: { get_param: public_net_id }
      port_id: { get_resource: bastion_port}

  bastion_server:
    type: OS::Nova::Server
    depends_on: floatingIP
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      key_name: { get_param: KeyName }
      flavor: { get_param: Flavor }
      metadata: {'node_type': 'bastion',
                 'pnda_cluster': {get_param: stack_name},
                 'node_idx':'',
                 'Name': {get_param: name}}
      networks:
        - port: { get_resource: bastion_port }
