# Definition for the mgr1 instance type
heat_template_version: 2015-04-30

parameters:
  Flavor:
    description: Flavor of the manager1 server
    type: string
  KeyName:
    description: Name of an existing ssh keypair
    type: string
  pnda_private_network:
    description: Private network for pnda deployment
    type: string
  pnda_private_subnet:
    description: Private network for pnda deployment
    type: string
  pnda_security_group_pnda:
    type: string
  Image:
    type: string
  name:
    type: string
  LogVolumeSize:
    type: number
  stack_name:
    type: string

resources:
  mgr1_port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: pnda_private_network }
      fixed_ips:
        - subnet_id: { get_param: pnda_private_subnet }
      security_groups: [{ get_param: pnda_security_group_pnda }]

  logvolume:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: LogVolumeSize }
      description: Volume for manager1 logs

  logvolume_attachment:
    type: OS::Cinder::VolumeAttachment
    depends_on: [ mgr1_server ]
    properties:
      volume_id: { get_resource: logvolume }
      instance_uuid: { get_resource: mgr1_server }

  mgr1_server:
    type: OS::Nova::Server
    depends_on: [ mgr1_port ]
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      flavor: { get_param: Flavor}
      key_name: { get_param: KeyName }
      metadata: {'node_type': 'hadoop-mgr',
                 'pnda_cluster': {get_param: stack_name},
                 'node_idx':'',
                 'Name': {get_param: name}}
      networks:
        - port: { get_resource: mgr1_port }

outputs:
  server_resource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: mgr1_server}
